@import "tailwindcss";
input{
  background-color: #a6a4a4;
  margin: 10px;
  border-radius: 5px;
}
button{
  text-align: center;
  width: 150px;
  background-color: #a8ecbd;
  color: black;
  border-radius: 5px;
}